[user]
	name = kaneshin
	email = kaneshin0120@gmail.com
[github]
	user = kaneshin
[alias]
	co = checkout
	com = commit
	br = branch
	st = status
	stg = stage
	logn = log --oneline
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[core]
	editor = vim
[color]
	ui = auto
