[user]
	name = Shintaro Kaneko
	email = kaneshin0120@gmail.com
[github]
	user = kaneshin
[include]
	path = .gitconfig.local
[core]
	editor = vim
	pager = less -R
	excludesfile = ~/.gitignore
[alias]
	s  = status
	st = status
	sh = show
	co = checkout
	cb = checkout -b
# show status after add
	a  = !git add .  && git status
	ad = !git add .  && git status
	au = !git add -u && git status
	aa = !git add .  && git add -u && git status
# commit
	c   = commit
	ca  = commit -a
	cm  = commit -m
	cam = commit -a --amend         # modify the last commit
# branch
	b  = branch
	br = branch
	ba = branch -a                  # show all branches
	bm = branch --merged            # already merged branches
	bn = branch --no-merged         # not merged branches
# log
	lp = log --oneline -p
	ls = log --stat --abbrev-commit -n 1 # display previous log
	ln = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
	lt = log --oneline --since="00:00:01" --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
# tree
	tr = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
# diff
	d = diff
	dm = diff master
	d1 = diff HEAD~
	d2 = diff HEAD~2
	d3 = diff HEAD~3
[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
	interactive = auto
	grep = auto
