<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
    <title>Title</title>
        <meta name="Author" content="">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <script src="public/javascripts/jquery-1.7.2.min.js"></script>
        <link rel="stylesheet" href="public/stylesheets/reset.css" />
        <link rel="stylesheet" href="public/stylesheets/style.css" />
    </head>
    <body>
        <!-- header -->
        <div id="header">
            <div id="innerHeader">
                <h1 id="headerTitle">
                    <a href="/">Title</a>
                </h1>
                <div id="headerNavi">
                    <ul>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/product">Product</a>
                        </li>
                        <li>
                            <a href="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- /=header -->
        <!-- main -->
        <div id="main">
            <div id="innerMain">
                <p>It works!</p>
            </div>
        </div>
        <!-- /=main -->
        <!-- footer -->
        <div id="footer">
            <div id="innerFooter">
                <div id="footerLeft">
                    <p>left</p>
                </div>
                <div id="footerCenter">
                    <p>center</p>
                </div>
                <div id="footerRight">
                    <p>right</p>
                </div>
                <div class="clear"></div>
                <div id="copyright">
                    <p>Copyright</p>
                </div>
            </div>
        </div>
        <!-- /=footer -->
    </body>
</html>
