/* Macros
 * {{{ */
.clear {
    clear: both;
}
/* /=Macros }}} */

/* Structure
 * {{{ */
body {
    color: #000;
    font: normal 18px Verdana, Helvetica, Arial, sans-serif;
    background-color: #ffc;
}
#header {
    height: 70px;
    width: 100%;
    z-index: 1;
}
#main {
    min-height: 200px;
    min-width: 800px;
}
#footer {
    min-height: 200px;
    width: 100%;
    z-index: 1;
}
/* /=Structure }}} */

/* Header
 * {{{ */
#innerHeader {
    height: 70px;
    background-color: #3c3;
    border-bottom: 1px solid #999;
}
/* left header */
#headerTitle {
    margin-top: 30px;
    margin-left: 50px;
    background-color: #3cc;
    float: left;
}
#headerTitle > h1 {
}
#headerTitle a {
}
/* right header */
#headerNavi {
    margin-top: 30px;
    background-color: #cc3;
    display: block;
    float: right;
}
#headerNavi > ul {
}
#headerNavi li {
    margin-right: 20px;
    background-color: #c3c;
    list-style: none;
    float: left;
}
/* /=Header }}} */

/* Main
 * {{{ */
#innerMain {
    min-height: 300px;
    margin: 25px;
    padding: 25px;
    background-color: #3cc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 1px solid #999;
}
/* /=Main }}} */

/* Footer
 * {{{ */
#innerFooter {
    min-height: 200px;
    background-color: #f66;
    border-top: 1px solid #999;
}
#footerLeft {
    width: 33%;
    height: 200px;
    float: left;
    background-color: #669;
}
#footerCenter {
    width: 33%;
    height: 100px;
    float: left;
    background-color: #696;
}
#footerRight {
    width: 34%;
    float: left;
    background-color: #966;
}
#copyright {
    font-size: 14px;
    text-align: right;
}
/* /=Footer }}} */

